<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create Project</title>
</head>
<body>
    <div class="container">
        <form action="/project/createproject" method="POST">
            <label>Title</label>
            <input type="text" name="title">
            <br>
            <label>No of openings</label>
            <input type="text" name="no_openings">
            <br>
            <label>Description</label>
            <input type="text" name="description">
            <br>
            <label>Eligibility</label>
            <input type="text" name="eligibility">
            <br>
            <label>Pre Requisutes</label>
            <input type="text" name="pre_requisites">
            <br>
            <label>Duration(in months)</label>
            <input type="text" name="duration">
            <br>
            <input type="submit">
        </form>
    </div>
</body>
</html>