<!DOCTYPE html>
<html lang="en" class="fullscreen-bg">
  <head>
    <title>Reset Password | Research Portal, IIT Kanpur</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <!-- VENDOR CSS -->
    <link
      rel="stylesheet"
      href="/dash/assets/vendor/bootstrap/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="/dash/assets/vendor/font-awesome/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/dash/assets/vendor/linearicons/style.css" />
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/dash/assets/css/main.css" />
    <!-- GOOGLE FONTS -->
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700"
      rel="stylesheet"
    />
    <!-- ICONS -->
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="/dash/assets/img/apple-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/dash/assets/img/favicon.png"
    />
  </head>

  <body>
    <!-- WRAPPER -->
    <div id="wrapper">
      <div class="vertical-align-wrap">
        <div class="vertical-align-middle">
          <div class="auth-box lockscreen clearfix">
            <div class="content">
              <h1 class="sr-only">Research Portal</h1>
              <div class="logo text-center">
                <img
                  src="/dash/assets/img/logo-dark.png"
                  alt="Research Portal"
                />
              </div>
              <div class="text-center">
                <h2>Set New Password</h2>
                <br />
                <div style="max-width: 400px; margin: auto;">
                  <form id="setpwd">
                    <input
                      type="text"
                      class="form-control"
                      id="email"
                      placeholder="Email"
                    /><br />
                    <label id="message"></label>
                    <button type="submit" id="submit" class="btn btn-primary">
                      Submit
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END WRAPPER -->

    <script src="/dash/assets/scripts/alerts.js"></script>
    <script src="/dash/assets/vendor/jquery/jquery.min.js"></script>
    <script>
      const wrapper = document.querySelector(".content");
      $("#setpwd").on("submit", e => {
        e.preventDefault();
        // Get the elements
        const email = $("#email").val();
        const label = $("#message");
        // Password length and match check
        // Retrieve token
        const token = new URL(document.location).searchParams.get("token");
        label.val("Sending...");
        // Send request
        $.ajax({
          url: "/auth/student/forgot",
          method: "POST",
          data: { email: email },
          headers: { "x-auth-token": token },
          success: () => {
            alert("Verfication Mail has been sent");
            window.location.href="/";
          },
          error: xhr => {
            addAlert(wrapper, "error", xhr.responseText);
          }
        });
        label.html("");
      });
    </script>
  </body>
</html>
