<!DOCTYPE html>
<html>
<head>
	<title>Log in Sign Up</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<body>
	<section>
            <div class="container" id="container">
                <div class="mobile-btn"><button>Login</button><button>Register</button></div>
	            <div class="form-container sign-up-container">
		            <form action="#">
			            <h1>Create Account</h1>
			            <span>or use your email for registration</span>
                        <input type="text" placeholder="Name" />
                        <input type="email" placeholder="Email" />
                        <input type="password" placeholder="Password" />
                        <button>Sign Up</button>
                    </form>
	            </div>
                <div class="form-container sign-in-container">
                    <form action="#">
                        <h1>Sign in</h1>
                        <span>or use your account</span>
                        <input type="email" placeholder="Email" />
                        <input type="password" placeholder="Password" />
                        <a href="#">Forgot your password?</a>
                        <button>Sign In</button>
                    </form>
                </div>
                <div class="overlay-container">
                    <div class="overlay">
                        <div class="overlay-panel overlay-left">
                            <p class="desktop-overlay-content">To keep connected with us please login with your personal info</p>
                            <p><strong>Login</strong></p>
                            <button class="ghost" id="signIn">Sign In</button>
                            <button class="mobile-icon" id="signInMobile"><i class="fas fa-arrow-right"></i></button>
                        </div>
                        <div class="overlay-panel overlay-right">
                            <p class="desktop-overlay-content">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                            <p><strong>Register</strong></p>
                            <button class="ghost" id="signUp">Sign Up</button>
                            <button class="mobile-icon" id="signUpMobile"><i class="fas fa-arrow-left"></i></button>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <script src="main.js"></script>
</body>
</html>