<!DOCTYPE html>
<html>
  <head>
    <title>Research Portal | Academics and Career Council, IIT Kanpur</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
      crossorigin="anonymous"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/dash/assets/img/favicon.png"
    />
  </head>

  <body>
    <script>
      // IF LOGGED IN (cookie found), REDIRECT TO DASH
      const token = Cookies.get('x-auth-token');
      if (token) document.location.replace('/home');
    </script>
    <section>
      <div class="container" id="container">
        <div class="mobile-btn">
          <button>Login</button><button>Register</button>
        </div>
        <div class="form-container sign-up-container">
          <form id="signup-form">
            <img src="./dash/assets/img/logo-dark.png" /><br /><br />
            <h1>Create Account</h1>
            <input type="email" placeholder="Email" name="email" /><br />
            <button>Sign Up</button>
          </form>
        </div>
        <div class="form-container sign-in-container signinc">
          <form id="signin-form">
            <img src="./dash/assets/img/logo-dark.png" /><br /><br />
            <!-- <h1>Sign in</h1> -->
            <input type="email" placeholder="Email" name="email" required />
            <input
              type="password"
              placeholder="Password"
              name="password"
              minlength="8"
              maxlength="255"
              required
            />
            <a class="fp" id="forgotpass">Forgot your password?</a>
            <button>Sign In</button>
          </form>
        </div>
        <div class="form-container sign-in-container forgot">
          <form action="/auth/student/forgot" id="setpwd" method="POST">
            <h1>Forgot Password</h1>

            <div id="wrapper">
              <div class="vertical-align-wrap">
                <div class="vertical-align-middle">
                  <div class="auth-box lockscreen clearfix">
                    <div class="content">
                      <h1 class="sr-only">Research Portal</h1>
                      <div class="text-center">
                        <br />
                        <div style="max-width: 400px; margin: auto;">
                          <form></form>
                          <input
                            type="text"
                            class="form-control"
                            id="email"
                            placeholder="Email"
                          /><br />
                          <label id="message"></label>
                          <br />
                          <div class="g-recaptcha" data-sitekey="6Lf5gq0UAAAAAOoL1o8C-8lTC0cSCIDoOtWcvOT5"></div><br>
                            
                          <a class="fp">Or sign in instead</a>
                          <br />
                          <br />
                          <button
                            type="submit"
                            id="submit"
                            class="btn btn-primary"
                          >
                            Submit
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="overlay-container">
          <div class="overlay">
            <div class="overlay-panel overlay-left">
              <p><strong>Login</strong></p>
              <p class="desktop-overlay-content">
                If you already have an account, login with your IITK mail.
              </p>
              <button class="ghost slider">Sign In</button>
              <button class="mobile-icon slider">
                <i class="fas fa-arrow-right"></i>
              </button>
            </div>
            <div class="overlay-panel overlay-right">
              <p><strong>Register</strong></p>
              <p class="desktop-overlay-content">
                If you do not have an account, register with your IITK mail.
              </p>
              <button class="ghost slider">Sign Up</button>
              <button class="mobile-icon slider">
                <i class="fas fa-arrow-left"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="main.js"></script>
  </body>
</html>
