<!doctype html>
<html lang="en">

<head>
	<title>Dashboard | Research Portal, IITK</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="/dash/assets/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/dash/assets/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/dash/assets/vendor/linearicons/style.css">
	<link rel="stylesheet" href="/dash/assets/vendor/chartist/css/chartist-custom.css">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="/dash/assets/css/main.css">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="/dash/assets/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/dash/assets/img/favicon.png">
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
		<!-- NAVBAR -->
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="brand">
				<a href="index.html"><img src="/dash/assets/img/logo-dark.png" alt="Klorofil Logo" class="img-responsive logo"></a>
			</div>
			<div class="container-fluid">
				<div class="navbar-btn">
					<button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
				</div>
				<div id="navbar-menu">
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
								<i class="lnr lnr-alarm"></i>
								<span class="badge bg-danger">5</span>
							</a>
							<ul class="dropdown-menu notifications">
								<li><a href="#" class="notification-item"><span class="dot bg-warning"></span>System space is almost full</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-danger"></span>You have 9 unfinished tasks</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-success"></span>Monthly report is available</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-warning"></span>Weekly meeting in 1 hour</a></li>
								<li><a href="#" class="notification-item"><span class="dot bg-success"></span>Your request has been approved</a></li>
								<li><a href="#" class="more">See all notifications</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="lnr lnr-link"></i> <span>Quick Links</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								<li><a href="https://iitk.ac.in">IITK Home</a></li>
								<li><a href="https://iitk.ac.in/dosa">DOSA</a></li>
								<li><a href="https://iitk.ac.in/doaa">DOAA</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="/dash/assets/img/user.png" class="img-circle" alt="Avatar"> <span>Samuel</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
							<ul class="dropdown-menu">
								<li><a href="#"><i class="lnr lnr-user"></i> <span>My Profile</span></a></li>
								<li><a href="#"><i class="lnr lnr-envelope"></i> <span>Message</span></a></li>
								<li><a href="#"><i class="lnr lnr-cog"></i> <span>Settings</span></a></li>
								<li><a href="#"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- END NAVBAR -->
		<!-- LEFT SIDEBAR -->
		<div id="sidebar-nav" class="sidebar">
			<div class="sidebar-scroll">
				<nav>
					<ul class="nav">
						<li><a href="/home/" class=""><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
						<li><a href="/project/createproject" class="active"><i class="lnr lnr-list"></i> <span>New Project</span></a></li>
						<li><a href="page-profile.html" class=""><i class="lnr lnr-user"></i><span>Profile</span></a></li>
					</ul>
				</nav>
			</div>
		</div>
		<!-- END LEFT SIDEBAR -->
		<!-- MAIN -->
		<div class="main">
			<!-- MAIN CONTENT -->
			<div class="main-content">
                    <div class="container-fluid" >
                        
                        <!--CRAETE PROJECT -->
                        <div class="row">
                            <div class="col-md-4" id="create-project-form">
                                <div class="panel">
                                    <div class="panel-heading">
                                        <h2>Create a new project</h2>
                                    </div>
            
                                    <div class="panel-body">
                                        <div class="form">
                                            <form class="row" action="/project/createproject" method="POST">
                                                <div class="form-group col-md-12">
                                                    <label>Name</label>
                                                    <input type="text" class="form-control"  placeholder="" name="title" required>
                                                </div>
                                                <div class="form-group col-md-12" >
                                                    <label>Number Of Openings</label>
                                                    <input type="text" class="form-control" placeholder="" 
                                                    name="no_openings" required>
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <label>Description</label>
                                                    <input type="text" class="form-control" placeholder="" name="description" required>
                                                </div>                                            
                                                <div class="form-group col-md-12">
                                                    <label>Pre Requisites </label>
                                                    <input type="text" class="form-control" placeholder="" name="pre_requisites" required>
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <label>CPI Eligibility Criteria</label>
                                                    <input type="text" class="form-control" placeholder="" name="eligibility" required>
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <label>Duration (In months)</label>
                                                    <input type="text" class="form-control" placeholder="" name="duration" required>
                                                </div>
                                                <center><button type="submit" class="btn btn-primary mx-auto form-submit-btn"/>Submit</button></center>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- CREATE PROJECT -->
                    </div>
                </div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN -->
		<div class="clearfix"></div>
		<footer>
			<div class="container-fluid">
				<p class="copyright">&copy; Academics and Career Council, IIT Kanpur</p>
			</div>
		</footer>
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script src="/dash/assets/vendor/jquery/jquery.min.js"></script>
	<script src="/dash/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="/dash/assets/vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
	<script src="/dash/assets/scripts/klorofil-common.js"></script>
</body>

</html>
